@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-heading: 'Manrope', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;

  --color-tertiary-fixed: #3e76fe;
  --color-secondary: #585f6d;
  --color-surface-container-highest: #dbe4e7;
  --color-on-secondary: #f8f8ff;
  --color-surface-bright: #f8f9fa;
  --color-on-primary-fixed-variant: #525c6d;
  --color-surface: #f8f9fa;
  --color-error-container: #fe8983;
  --color-on-error: #fff7f6;
  --color-on-secondary-container: #4b525f;
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary-fixed: #ffffff;
  --color-secondary-fixed: #dce2f3;
  --color-on-primary-fixed: #364050;
  --color-on-background: #2b3437;
  --color-error-dim: #4e0309;
  --color-primary-fixed-dim: #cbd5e9;
  --color-on-primary-container: #485263;
  --color-surface-variant: #dbe4e7;
  --color-on-secondary-fixed: #39404c;
  --color-surface-container: #eaeff1;
  --color-on-primary: #f6f7ff;
  --color-on-surface-variant: #586064;
  --color-surface-container-high: #e2e9ec;
  --color-inverse-on-surface: #9b9d9e;
  --color-inverse-surface: #0c0f10;
  --color-outline-variant: #abb3b7;
  --color-surface-tint: #555f70;
  --color-tertiary-container: #3e76fe;
  --color-primary-container: #d9e3f7;
  --color-surface-dim: #d1dce0;
  --color-inverse-primary: #d3ddf2;
  --color-primary-fixed: #d9e3f7;
  --color-on-surface: #2b3437;
  --color-background: var(--color-surface);
  --color-foreground: var(--color-on-surface);
  --color-on-secondary-fixed-variant: #555c69;
  --color-primary-dim: #495364;
  --color-tertiary-fixed-dim: #2d68f0;
  --color-on-tertiary-fixed-variant: #f9f7ff;
  --color-surface-container-low: #f1f4f6;
  --color-secondary-fixed-dim: #ced4e4;
  --color-tertiary-dim: #0049c2;
  --color-tertiary: #0053dc;
  --color-outline: #737c7f;
  --color-error: #9f403d;
  --color-on-error-container: #752121;
  --color-on-tertiary: #faf8ff;
  --color-secondary-container: #dce2f3;
  --color-on-tertiary-container: #000000;
  --color-primary: #555f70;
  --color-secondary-dim: #4c5361;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--color-error);
  --color-accent-foreground: var(--color-on-tertiary);
  --color-accent: var(--color-tertiary);
  --color-muted-foreground: var(--color-on-surface-variant);
  --color-muted: var(--color-surface-container-high);
  --color-card-foreground: var(--color-on-surface);
  --color-card: var(--color-surface-container-lowest);
  
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@layer utilities {
  .editorial-shadow {
    box-shadow: 0px 8px 32px rgba(43, 52, 55, 0.04);
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}